In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import random
import mofr
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier, plot_tree
from lightgbm import LGBMClassifier, plot_tree #LGBMRanker
import math
import pickle
import statsmodels.api as sm


import xgboost as xgb

In [3]:
seed=1234

# Loading data

In [4]:
import os
os.getcwd()

'C:\\Users\\AZUBA\\Documents\\Data_science\\Kaggle\\8.March ML Mania 2023'

In [5]:
MMasseyOrdinals=pd.read_csv(os.getcwd()+r'\relevant_data\MMasseyOrdinals.csv')

MNCAATourneyCompactResults=pd.read_csv(os.getcwd()+r'\relevant_data\MNCAATourneyCompactResults.csv')
MNCAATourneyDetailedResults=pd.read_csv(os.getcwd()+r'\relevant_data\MNCAATourneyDetailedResults.csv')

MNCAATourneySeeds=pd.read_csv(os.getcwd()+r'\relevant_data\MNCAATourneySeeds.csv')

MRegularSeasonCompactResults=pd.read_csv(os.getcwd()+r'\relevant_data\MRegularSeasonCompactResults.csv')
MRegularSeasonDetailedResults=pd.read_csv(os.getcwd()+r'\relevant_data\MRegularSeasonDetailedResults.csv')

MTeams=pd.read_csv(os.getcwd()+r'\relevant_data\MTeams.csv')

# Table by table

## MMasseyOrdinals

In [6]:
MMasseyOrdinals.shape

(4834892, 5)

In [7]:
MMasseyOrdinals.head()

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

In [8]:
MMasseyOrdinals['Season'].value_counts()

2019    328599
2017    315310
2020    299967
2018    292119
2014    292111
2016    291589
2022    284488
2013    282987
2015    281269
2012    248467
2011    232165
2010    223601
2021    219104
2023    210414
2009    183704
2008    169764
2005    139395
2007    139384
2004    136024
2006    132896
2003    131535
Name: Season, dtype: int64

In [9]:
MMasseyOrdinals['RankingDayNum'].value_counts()

133    332137
100    244393
93     243944
86     231259
128    230092
        ...
54         25
75         25
89         25
103        25
53         25
Name: RankingDayNum, Length: 90, dtype: int64

In [10]:
set(MMasseyOrdinals[MMasseyOrdinals['Season']==2003]['SystemName']).intersection(set(MMasseyOrdinals[MMasseyOrdinals['Season']==2023]['SystemName']))

{'AP',
 'ARG',
 'BIH',
 'COL',
 'DOL',
 'DUN',
 'MAS',
 'MOR',
 'POM',
 'RTH',
 'SAG',
 'SEL',
 'USA',
 'WLK',
 'WOB',
 'WOL'}

In [11]:
MMasseyOrdinals['SystemName'].value_counts()[0:10]

SAG    128556
MOR    127566
POM    125075
DOK    111779
WLK    102467
MAS    101473
DOL     99269
WIL     96828
PGH     95564
COL     92654
Name: SystemName, dtype: int64

## MNCAATourneyCompactResults

In [12]:
MNCAATourneyCompactResults.shape

(2384, 8)

In [13]:
MNCAATourneyCompactResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

## MNCAATourneyDetailedResults

In [14]:
MNCAATourneyDetailedResults.shape

(1248, 34)

In [15]:
MNCAATourneyDetailedResults.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

## MNCAATourneySeeds

In [16]:
MNCAATourneySeeds.shape

(2422, 3)

In [17]:
MNCAATourneySeeds.head()

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

## MRegularSeasonCompactResults

In [18]:
MRegularSeasonCompactResults.shape

(180189, 8)

In [19]:
MRegularSeasonCompactResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

## MRegularSeasonDetailedResults

In [20]:
MRegularSeasonDetailedResults.shape

(106141, 34)

In [21]:
MRegularSeasonDetailedResults.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

## MTeams

In [22]:
MTeams.shape

(377, 4)

In [23]:
MTeams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2023
1    1102    Air Force           1985          2023
2    1103        Akron           1985          2023
3    1104      Alabama           1985          2023
4    1105  Alabama A&M           2000          2023

In [24]:
MTeams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377 entries, 0 to 376
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TeamID         377 non-null    int64
 1   TeamName       377 non-null    object
 2   FirstD1Season  377 non-null    int64
 3   LastD1Season   377 non-null    int64
dtypes: int64(3), object(1)
memory usage: 11.9+ KB

# Data preparation

In [39]:
def winning_team(WTeamID, LTeamID, Season, DayNum):
    if WTeamID<LTeamID:
        return (1,WTeamID, LTeamID, Season, DayNum)
    else:
        return (0,LTeamID,WTeamID, Season, DayNum)

In [49]:
target_df=pd.DataFrame(list(MNCAATourneyCompactResults.apply(lambda x: winning_team(x['WTeamID'], x['LTeamID'], x['Season'], x['DayNum']), axis=1)), columns=['Target','TeamID1', 'TeamID2', 'Season', 'DayNum'])

In [50]:
target_df

      Target  TeamID1  TeamID2  Season  DayNum
0          1     1116     1234    1985     136
1          1     1120     1345    1985     136
2          1     1207     1250    1985     136
3          1     1229     1425    1985     136
4          1     1242     1325    1985     136
...      ...      ...      ...     ...     ...
2379       1     1242     1274    2022     146
2380       1     1314     1389    2022     146
2381       1     1242     1437    2022     152
2382       0     1181     1314    2022     152
2383       1     1242     1314    2022     154

[2384 rows x 5 columns]

## Same season rankings

In [99]:
systems={'AP',
 'ARG',
 'BIH',
 'COL',
 'DOL',
 'DUN',
 'MAS',
 'MOR',
 'POM',
 'RTH',
 'SAG',
 'SEL',
 'USA',
 'WLK',
 'WOB',
 'WOL'}

In [104]:
rankings=MMasseyOrdinals[MMasseyOrdinals['SystemName'].apply(lambda x: x in systems)].sort_values(['Season', 'TeamID','RankingDayNum'])

In [105]:
rankings=rankings.groupby(['TeamID', 'Season', 'SystemName'])['OrdinalRank'].agg([min, max, np.mean,'first', 'last']).reset_index().pivot(index=['TeamID','Season'], columns='SystemName').reset_index()

In [106]:
rankings.columns=rankings.columns.map('_'.join).str.strip('_')

In [109]:
rankings

,TeamID,Season,min_AP,min_ARG,min_BIH,min_COL,min_DOL,min_DUN,min_MAS,min_MOR,...,last_MAS,last_MOR,last_POM,last_RTH,last_SAG,last_SEL,last_USA,last_WLK,last_WOB,last_WOL
0,1101,2014,NaN,NaN,314.0,308.0,292.0,341.0,331.0,348.0,...,349.0,349.0,348.0,346.0,346.0,337.0,NaN,330.0,323.0,345.0
1,1101,2015,NaN,NaN,263.0,245.0,263.0,308.0,270.0,303.0,...,331.0,346.0,332.0,325.0,336.0,326.0,NaN,332.0,317.0,319.0
2,1101,2016,NaN,291.0,276.0,304.0,295.0,298.0,301.0,311.0,...,312.0,311.0,318.0,319.0,320.0,304.0,NaN,304.0,297.0,312.0
3,1101,2017,NaN,191.0,272.0,207.0,276.0,242.0,235.0,206.0,...,292.0,317.0,300.0,294.0,305.0,291.0,NaN,307.0,266.0,264.0
4,1101,2018,NaN,199.0,208.0,209.0,211.0,175.0,210.0,213.0,...,259.0,265.0,262.0,271.0,276.0,266.0,NaN,261.0,255.0,260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7260,1473,2023,NaN,288.0,309.0,319.0,305.0,177.0,343.0,318.0,...,348.0,325.0,342.0,339.0,354.0,336.0,NaN,337.0,331.0,334.0
7261,1474,2023,NaN,99.0,94.0,91.0,96.0,193.0,168.0,94.0,...,210.0,207.0,208.0,200.0,268.0,180.0,NaN,179.0,163.0,149.0
7262,1475,2023,NaN,184.0,147.0,211.0,185.0,91.0,217.0,179.0,...,285.0,268.0,258.0,267.0,314.0,257.0,NaN,246.0,251.0,249.0
7263,1476,2023,NaN,221.0,252.0,237.0,264.0,175.0,320.0,312.0,...,320.0,314.0,328.0,320.0,337.0,298.0,NaN,309.0,282.0,278.0
7264,1477,2023,NaN,175.0,242.0,259.0,246.0,237.0,281.0,253.0,...,300.0,302.0,305.0,307.0,336.0,286.0,NaN,302.0,291.0,281.0

## Same season compact results

In [114]:
MRegularSeasonCompactResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [115]:
def winning_team2(WTeamID, LTeamID, Season, DayNum, WScore, LScore, WLoc):
    
    def revert_home(x):
        if x=='H':
            return 'A'
        elif x=='A':
            return 'H'
        else:
            return x
        
    if WTeamID<LTeamID:
        return (1,WTeamID, LTeamID, Season, DayNum, WScore, LScore, WLoc)
    else:
        return (0,LTeamID,WTeamID, Season, DayNum, LScore, WScore, revert_home(WLoc))

In [116]:
reg_season=pd.DataFrame(list(MRegularSeasonCompactResults.apply(lambda x: winning_team2(x['WTeamID'], x['LTeamID'], x['Season'], x['DayNum'], x['WScore'], x['LScore'], x['WLoc']), axis=1)), columns=['Win','TeamID1', 'TeamID2', 'Season', 'DayNum', 'Score1', 'Score2', 'WLoc'])

In [117]:
reg_season

        Win  TeamID1  TeamID2  Season  DayNum  Score1  Score2 WLoc
0         1     1228     1328    1985      20      81      64    N
1         1     1106     1354    1985      25      77      70    H
2         1     1112     1223    1985      25      63      56    H
3         1     1165     1432    1985      25      70      54    H
4         1     1192     1447    1985      25      86      74    H
...     ...      ...      ...     ...     ...     ...     ...  ...
180184    0     1103     1405    2023      99      74      84    H
180185    0     1153     1408    2023      99      94     101    A
180186    0     1190     1422    2023      99      65      91    A
180187    0     1301     1438    2023      99      50      63    A
180188    0     1314     1448    2023      99      85      92    A

[180189 rows x 8 columns]