In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import random
import mofr
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier, plot_tree
from lightgbm import LGBMClassifier, plot_tree #LGBMRanker
import math
import pickle
import statsmodels.api as sm


import xgboost as xgb

In [3]:
seed=1234

# Loading data

In [4]:
import os
os.getcwd()

'C:\\Users\\AZUBA\\Documents\\Data_science\\Kaggle\\8.March ML Mania 2023'

In [5]:
# MMasseyOrdinals=pd.read_csv(os.getcwd()+r'\relevant_data\MMasseyOrdinals.csv')

MNCAATourneyCompactResults=pd.read_csv(os.getcwd()+r'\relevant_data\WNCAATourneyCompactResults.csv')
MNCAATourneyDetailedResults=pd.read_csv(os.getcwd()+r'\relevant_data\WNCAATourneyDetailedResults.csv')

MNCAATourneySeeds=pd.read_csv(os.getcwd()+r'\relevant_data\WNCAATourneySeeds.csv')

MRegularSeasonCompactResults=pd.read_csv(os.getcwd()+r'\relevant_data\WRegularSeasonCompactResults.csv')
MRegularSeasonDetailedResults=pd.read_csv(os.getcwd()+r'\relevant_data\WRegularSeasonDetailedResults.csv')

MTeams=pd.read_csv(os.getcwd()+r'\relevant_data\WTeams.csv')

# Table by table

## MNCAATourneyCompactResults

In [7]:
MNCAATourneyCompactResults.shape

(1516, 8)

In [8]:
MNCAATourneyCompactResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1998     137     3104      94     3422      46    H      0
1    1998     137     3112      75     3365      63    H      0
2    1998     137     3163      93     3193      52    H      0
3    1998     137     3198      59     3266      45    H      0
4    1998     137     3203      74     3208      72    A      0

## MNCAATourneyDetailedResults

In [9]:
MNCAATourneyDetailedResults.shape

(760, 34)

In [10]:
MNCAATourneyDetailedResults.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,138,3124,69,3201,55,N,0,28,57,...,34,3,5,17,19,12,18,4,1,18
1,2010,138,3173,67,3395,66,N,0,23,59,...,27,14,15,18,26,8,8,8,6,22
2,2010,138,3181,72,3214,37,H,0,26,57,...,15,3,8,10,21,4,16,6,4,20
3,2010,138,3199,75,3256,61,H,0,25,63,...,20,17,22,16,21,13,16,5,4,24
4,2010,138,3207,62,3265,42,N,0,24,68,...,26,11,17,16,22,9,10,3,4,12

## MNCAATourneySeeds

In [11]:
MNCAATourneySeeds.shape

(1540, 3)

In [12]:
MNCAATourneySeeds.head()

   Season Seed  TeamID
0    1998  W01    3330
1    1998  W02    3163
2    1998  W03    3112
3    1998  W04    3301
4    1998  W05    3272

In [13]:
MNCAATourneySeeds['Seed_number']=MNCAATourneySeeds['Seed'].str.extract('(\d+)')

In [14]:
MNCAATourneySeeds['Seed_number']=MNCAATourneySeeds['Seed_number'].apply(int)

In [15]:
MNCAATourneySeeds['Seed_number'].value_counts()

11    98
16    98
1     96
2     96
3     96
4     96
5     96
6     96
7     96
8     96
9     96
10    96
12    96
13    96
14    96
15    96
Name: Seed_number, dtype: int64

In [16]:
seeds=MNCAATourneySeeds[['Season', 'TeamID', 'Seed_number']]

## MRegularSeasonCompactResults

In [17]:
MRegularSeasonCompactResults.shape

(124709, 8)

In [18]:
MRegularSeasonCompactResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1998      18     3104      91     3202      41    H      0
1    1998      18     3163      87     3221      76    H      0
2    1998      18     3222      66     3261      59    H      0
3    1998      18     3307      69     3365      62    H      0
4    1998      18     3349     115     3411      35    H      0

## MRegularSeasonDetailedResults

In [19]:
MRegularSeasonDetailedResults.shape

(69319, 34)

In [20]:
MRegularSeasonDetailedResults.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,11,3103,63,3237,49,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,2010,11,3104,73,3399,68,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2010,11,3110,71,3224,59,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,2010,11,3111,63,3267,58,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,2010,11,3119,74,3447,70,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14

## MTeams

In [21]:
MTeams.shape

(375, 2)

In [22]:
MTeams.head()

   TeamID     TeamName
0    3101  Abilene Chr
1    3102    Air Force
2    3103        Akron
3    3104      Alabama
4    3105  Alabama A&M

In [23]:
MTeams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TeamID    375 non-null    int64
 1   TeamName  375 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.0+ KB

# Data preparation

In [24]:
def winning_team(WTeamID, LTeamID, Season, DayNum):
    if WTeamID<LTeamID:
        return (1,WTeamID, LTeamID, Season, DayNum)
    else:
        return (0,LTeamID,WTeamID, Season, DayNum)

In [25]:
target_df=pd.DataFrame(list(MNCAATourneyCompactResults.apply(lambda x: winning_team(x['WTeamID'], x['LTeamID'], x['Season'], x['DayNum']), axis=1)), columns=['Target','TeamID1', 'TeamID2', 'Season', 'DayNum'])

In [26]:
target_df

      Target  TeamID1  TeamID2  Season  DayNum
0          1     3104     3422    1998     137
1          1     3112     3365    1998     137
2          1     3163     3193    1998     137
3          1     3198     3266    1998     137
4          1     3203     3208    1998     137
...      ...      ...      ...     ...     ...
1511       1     3163     3301    2022     147
1512       1     3257     3276    2022     147
1513       1     3163     3390    2022     151
1514       0     3257     3376    2022     151
1515       0     3163     3376    2022     153

[1516 rows x 5 columns]

## Same season rankings

In [ ]:
systems={#'AP',
# 'ARG',
# 'BIH',
# 'COL',
# 'DOL',
# 'DUN',
 #'MAS',
 'MOR',
# 'POM',
 #'RTH',
 'SAG',
 #'SEL',
 #'USA',
 'WLK',
 #'WOB',
 #'WOL'
}

In [ ]:
rankings=MMasseyOrdinals[MMasseyOrdinals['SystemName'].apply(lambda x: x in systems)].sort_values(['Season', 'TeamID','RankingDayNum'])

In [ ]:
rankings=rankings.groupby(['TeamID', 'Season', 'SystemName'])['OrdinalRank'].agg([min, max, np.mean,'first', 'last']).reset_index().pivot(index=['TeamID','Season'], columns='SystemName').reset_index()

In [ ]:
rankings.columns=rankings.columns.map('_'.join).str.strip('_')

In [ ]:
rankings

## Same season compact results

### By team

In [ ]:
MRegularSeasonCompactResults.head()

In [ ]:
def winning_team2(WTeamID, LTeamID, Season, DayNum, WScore, LScore, WLoc):
    
    def revert_home(x):
        if x=='H':
            return 'A'
        elif x=='A':
            return 'H'
        else:
            return x
        
    if WTeamID<LTeamID:
        return (1,WTeamID, LTeamID, Season, DayNum, WScore, LScore, WLoc)
    else:
        return (0,LTeamID,WTeamID, Season, DayNum, LScore, WScore, revert_home(WLoc))

In [ ]:
reg_season=pd.DataFrame(list(MRegularSeasonCompactResults.apply(lambda x: winning_team2(x['WTeamID'], x['LTeamID'], x['Season'], x['DayNum'], x['WScore'], x['LScore'], x['WLoc']), axis=1)), columns=['Win','TeamID1', 'TeamID2', 'Season', 'DayNum', 'Score1', 'Score2', 'WLoc'])

In [ ]:
reg_season

In [ ]:
reg_season_by_team_win=MRegularSeasonCompactResults.groupby(['Season', 'WTeamID']).agg({'NumOT':'count','WScore': 'sum'}).reset_index().rename(columns=
                                                                                                                  {'WTeamID':'TeamID','NumOT':'Wins', 'WScore':'Points'})

reg_season_by_team_loss=MRegularSeasonCompactResults.groupby(['Season', 'LTeamID']).agg({'NumOT':'count','LScore': 'sum'}).reset_index().rename(columns=
{'LTeamID':'TeamID','NumOT':'Losses', 'LScore':'Points'})

In [ ]:
reg_season_by_team=reg_season_by_team_win.merge(reg_season_by_team_loss, how='left', on=['Season','TeamID'])

In [ ]:
reg_season_by_team['Matches']=reg_season_by_team['Wins']+reg_season_by_team['Losses']
reg_season_by_team['Points']=reg_season_by_team['Points_x']+reg_season_by_team['Points_y']
reg_season_by_team['Avg_points_per_game']=reg_season_by_team['Points']/reg_season_by_team['Matches']

reg_season_by_team=reg_season_by_team[['Season','TeamID','Wins','Losses','Matches','Points','Avg_points_per_game']]

In [ ]:
reg_season_by_team

### By pairs of teams

In [ ]:
reg_season.head()

In [ ]:
reg_season=reg_season.groupby(['TeamID1','TeamID2','Season'])['Win'].agg(['count',sum, np.mean]).reset_index().rename(columns={
    'count': 'together_matches_played',
    'sum':'together_number_of_wins',
    'mean': 'together_winning_percentage'
})

## Putting it all together

In [ ]:
target_df.head()

In [ ]:
rankings.head()

In [ ]:
reg_season_by_team.head()

In [ ]:
reg_season.head()

In [ ]:
df=target_df.merge(rankings, how='left', left_on=['Season', 'TeamID1'], right_on=['Season', 'TeamID']).merge(rankings, how='left', left_on=['Season', 'TeamID2'], right_on=['Season', 'TeamID'])

In [ ]:
df=df.drop(columns=['TeamID_x', 'TeamID_y'])

In [ ]:
df=df.merge(reg_season_by_team, how='left', left_on=['Season', 'TeamID1'], right_on=['Season', 'TeamID']).merge(reg_season_by_team, how='left', left_on=['Season', 'TeamID2'], right_on=['Season', 'TeamID'])

In [ ]:
df=df.drop(columns=['TeamID_x', 'TeamID_y'])

In [ ]:
df=df.merge(reg_season, how='left', on=['Season', 'TeamID1','TeamID2'])

In [ ]:
df=df.merge(seeds, how='left', left_on=['Season', 'TeamID1'], right_on=['Season', 'TeamID']).merge(seeds, how='left', left_on=['Season', 'TeamID2'], right_on=['Season', 'TeamID'])

In [ ]:
df=df.drop(columns=['TeamID_x', 'TeamID_y'])

In [ ]:
df.columns=[x.replace('_x', '_1').replace('_y','_2') for x in df.columns]

In [ ]:
df

In [ ]:
df['Avg_points_difference']=df['Avg_points_per_game_1']-df['Avg_points_per_game_2']
df['Avg_points_ratio']=df['Avg_points_per_game_1']/df['Avg_points_per_game_2']

df['Wins_difference']=df['Wins_1']/df['Wins_2']
df['Wins_percentage_ratio']=(df['Wins_1']*df['Matches_2'])/(df['Wins_2']*df['Matches_1'])

df['Seeds_difference']=df['Seed_number_1']-df['Seed_number_2']
df['Seeds_ratio']=df['Seed_number_1']/df['Seed_number_2']

In [ ]:
df

In [ ]:
df.to_csv('Dataset_for_modelling.csv', index=False)